.test{
    background-color: $background;
    color: $foreground;
    border: 2 solid;
    border-color: $unfocused;
    font-size: 16;
    font-weight: bolder;
}

.module{
    background-color: $background;
    color: $foreground;
    border: 2 solid;
    border-color: $unfocused;
    font-size: 16;
    font-weight: bolder;
    padding: 0 10px 0 10px;
    margin: 0 4px 0 4px;
}

.txt-low{
    color: $foreground-alt;
}

.icon {
    font-size: 20;
    color: $focused;
}

.sep {
    font-size: 8;
    font-weight: bolder;
    color: $foreground-alt
}